<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<bean id="contrller" class="com.geek.controller.AccController" autowire="byType">
	<!--	<property name="accService" ref="service"></property>-->
	</bean>
		<bean id="service" class="com.geek.service.AccountServiceImpl"  autowire="byType">
		<!--<property name="rep" ref="repo"></property>-->
	</bean>
		<bean id="repo" class="com.geek.repo.AccountRepImpl">
		
	</bean>
</beans>